%link {
color: $color-secondary;
text-decoration: none;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%nav__item {
  font-size: em(20px);
  text-align: center;
  margin-bottom: em(24px);
}

%headline--primary {
  color: $color-primary;
  font-weight: $font-weight--medium;
  font-size: em(32px);
  line-height: (46px/42px);
  margin: 0 0 24px 0;
}

%headline--secondary {
  color: lighten($gray, 15%);
  letter-spacing: $letter-space;
  font-weight: $font-weight--thin;
  font-size: em(20px);
  font-family: $font-family--secondary;
  margin: 0 0 24px 0;
}

%image {
  display: block;
  max-width: 100%;
  margin-bottom: em(24px);
}


%btn {
  padding: 10px 30px;
  border: 0;
  border-radius : $br--default;
  color: $white;
  font-size : em(14px);
  font-weight: $font-weight--medium;
  display: block;
  &:hover {
    opacity: .75;
  }
  &:active {
    opacity: initial;
  }
}

%hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
