.img {
	@include m(logo) {
    float: none;
	  margin-left: auto;
	  margin-right: auto;
		@extend %image;
		@include mq(medium) {
			margin: 0;
		}
	}
	@include m(avatar) {
    float: none;
	  margin-left: auto;
	  margin-right: auto;
		@extend %image;
		border-radius: $br--round;
		padding: 20px;
	}
	@include m(frame) {
		@extend %image;
		padding: 20px;
		@include mq(medium) {
			margin: 0 auto em(25px);
		}
	}
}
